.box {
  height: 50px;
  position: relative;
  width: 390px;
}

.box .group {
  background-color: #6c584c;
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 390px;
}

.box .logo-eco-walking {
  height: 30px;
  left: 183px;
  position: absolute;
  top: 10px;
  width: 24px;
}

.box .photo-de-profil {
  background-color: var(--albescent-white);
  border: 2px solid;
  border-color: var(--pine-cone);
  border-radius: 17px;
  height: 34px;
  left: 328px;
  position: absolute;
  top: 8px;
  width: 34px;
}

.box .mobile-burger-menu-instance {
  left: 29px !important;
  top: 18px !important;
}

.burgerMenu {
  height: 25px;
  position: relative;
  width: 18px;
  left: 29px;
}

.vector {
  left: -1px;
  position: absolute;
  top: 15px;
  width: 20px;
}

.img {
  height: 2px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 20px;
}

.vector-2 {
  height: 2px;
  left: -1px;
  position: absolute;
  top: 11px;
  width: 20px;
}